.button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  color: white;
  font-weight: bolder;
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;

  &.button_black {
    background-color: black;
  }

  &.button_blue {
    background-color: #4285f4;
  }

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}
